
.footer2 {
    /*font-family: 'var(--primaryFont)', sans-serif;*/
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.97);
    
}

.footer2 p {
    font-weight: 200;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}

.footer2 p span {
    font-size: 24px;
}
