.footer {
    font-family: 'var(--primaryFont)', sans-serif;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    background-color: rgba(20, 20, 20, 0.5);
}

.footer p {
    font-weight: 200;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}

.footer p span {
    font-size: 24px;
}
